resources:
- name: listLocations
  action: gcp-types/cloudkms-v1:cloudkms.projects.locations.list
  properties:
    name: projects/{{ env["project"] }}
  metadata:
    runtimePolicy:
    - CREATE
- name: keyRing
  type: gcp-types/cloudkms-v1:projects.locations.keyRings
  properties:
    parent: projects/{{ env["project"] }}/locations/{{ properties["region"] }}
    keyRingId: {{ properties["keyRingName"] }}
- name: cryptoKey
  type: gcp-types/cloudkms-v1:projects.locations.keyRings.cryptoKeys
  properties:
    parent: $(ref.keyRing.name)
    cryptoKeyId: {{ properties["keyName"] }}
    purpose: ENCRYPT_DECRYPT